@import './scss-addons/functions.scss';

$primary-color: #6d6f73;
$background-color: #FFFF;

$primary-font: 'Poppins', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    padding: 35px 150px;
    font-size: convertPxToRem(14);
}

ion-icon {
    font-size: convertPxToRem(40);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main-header {
    color: #6d6f73;
    font-size: convertPxToRem(32);
    text-transform: uppercase;
}

.centered-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-picture {
    width: 100px;
    height: 100px;
}

.store {
    display: grid;
    align-items: baseline;
    box-sizing: border-box;
    grid-template-columns: 2fr 1fr;
    gap: convertPxToRem(20);

    &__products {
        color: #6d6f73;
        background-color: $background-color;
        outline: 1px solid $primary-color;
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 1rem;
        outline: 1px solid $primary-color;
        padding: 0em 2em;

        &--cart {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;
            outline: 1px solid $primary-color;
            padding: 0em 2em;
        }
    }

    &__offer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px 30px;
        padding: 2.5em 2.5em;
    }

    &__cart {
        color: #6d6f73;
        background-color: $background-color;
        outline: 1px solid $primary-color;
        
    }
}

.product {
    outline: 1px solid $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__info {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        padding: 0px 0.7em;
    }

    &__data {
        display: grid;
    }

    &__name {
        font-size: convertPxToRem(16);
        margin: 1em 0em 0em 0em;
    }

    &__manufacturer {
        font-size: convertPxToRem(14);
        margin: 0px;
        font-style: italic;
    }

    &__description {
        margin: 0em 1em 1em 1em;
    }

    &__menu {
        display: grid;
        grid-template-columns: 2.5fr 1fr 0.5fr 1fr;
        grid-template-rows: 1fr;
        outline: 1px solid $primary-color;
    }

    &__menu div:nth-child(1) {
        outline: 1px solid $primary-color;
    }

    &__buttons {
        display: grid;

        &--quantity {
            padding: 0.2em 0.7em;
            cursor: pointer;
            outline: 1px solid $primary-color;
            border: none;
        }

        &--cart-btn {
            cursor: pointer;
            
        }
    }
}

// INCART
.incart {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.7em;

    &__grid {
        display: grid;
        grid-template-columns: 5fr 1fr;
        gap: 5px;
    }

    &__manu {
        display: flex;
        flex-direction: column;
    }

    &__manufacturer {
        font-size: convertPxToRem(14);
        font-style: italic;
        margin: 0px;
    }
    &__input {
        max-width: 30px;
        border: 0px;
    }

    &__offer--container {
        max-height: 450px;
        overflow-y: auto;
        margin: 0.7em;
        outline: 1px solid black;
        background-color: $background-color;
    }

    &__product {
        background-color: $background-color;
        display: grid;
        align-items: center;
        grid-template-columns: 3fr 3fr 0.25fr 0.25fr;
        outline: 1px solid black;
        gap: 10px;
        margin-inline: 0.7em;
    }
    &__buttons {
        display: grid;
        justify-content: end;
        
    }
    &__footer {
        background-color: aliceblue;
        font-size: convertPxToRem(16);
        outline: 1px solid black;
        margin-top: 0.7em;
        @extend .centered-item;
    }
    &__delete {
        background-color: $background-color;
        outline: 1px solid black;
        margin-right: 0.7em;
        cursor: pointer;
        @extend .centered-item;
    }
}